<div>
    <ul class="post-copyright">
        <li><strong>本文作者：</strong> 谭武彬</li>
        <li><strong>文章交流：</strong> <span class="label label-important">
            <a href="Mailto:brieftime@icloud.com">
                <font color="white">点击这里发起文章交流</font></a></span></li>
        <li>
            <strong>本文链接：</strong><a href=" http://tanwubin.github.io{{ page.url }}"> http://tanwubin.github.io{{ page.url }}</a>
        </li>
    <li>
      <strong>版权声明：</strong>
      本博客所有文章除特别声明外，均采用 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" rel="external nofollow" target="_blank">CC BY-NC-SA 3.0 CN</a> 许可协议。转载请注明出处！
    </li>
  </ul>
</div>