<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  <meta name="baidu-site-verification" content="wsVJtKBY17" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author }}"/>
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/effector-wide.css">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS for {{ site.title }}" href="/feed/">
</head>

  <div class="container">
      <!--
      <h1 class="sitename">
           <a href="/" > <img src="/upload/image/headimg.jpg"
         width="100"
         height="100">	  </a>
      </h1>
      -->
      <h1 class="sitename"><hr style="height:1px;border:none;border-top:1px dashed #bbbbbb;"/></h1>
      <div class="nav">
<a href="/">上茶-Home</a>
<a href="/archive">茶坊-Archive</a>
<a href="/links">友茶-Links</a>
<a href="/tag">茶品-Tags</a>
<a href="/market">茶市-Market</a>
<a href="/todo">茶夫-ToDo</a>
<a href="/talk">茶声-TeaTalk</a>
<a href="/teawaiter">店小二-TeaWaiter</a>
<!--<a href="/feed/">订阅-Subscribe</a>-->
</div>
      <hr style="height:1px;border:none;border-top:1px dashed #bbbbbb;"/>
{{ content }}
      <!--
      <div class="wrapper">
        <span class="label label-important">Permanent link </span> <a href=" http://tanwubin.github.io{{ page.url }}"> http://tanwubin.github.io{{ page.url }}</a><small class="pull-right">{{ page.date | date:"%b %d, %Y" }}</small>
      </div>
      -->
</div>
{% if page.url != "/" %}
{% endif %}

</body>
</html>
