<div class="wrapper">
<ul class="postsList">
{% for post in site.posts limit: 15%}
<!--{% if post.tags contains "茶馆新闻" %}

{% else %}-->
<li><span><img src="../../../upload/image/calendar.png" width="20px"/>&nbsp;{{ post.date | date: "%b %d, %Y" }}</span>
    <a href="{{ post.url }}" class="posttitle"><b>{{ post.title }}</b></a>
    {{ post.excerpt }}
    <span class="label label-important"><a href="{{ post.url }}"> <font color="white">阅读全文</font></a></span>
</li><hr class="style-one"/>
<!--{% endif %}-->
{% endfor %}
<li><a class="btn"  href="/archive/">更多-More</a>&nbsp;&nbsp;<a class="btn" href="/feed/" target="_blank">订阅-Subscribe</a></li>
<hr class="style-one"/>
</ul>
</div>